/*== CSS Variables ==*/

:root {
	--primary-color: #222222; /* Dark Gray */
  --secondary-color: #ffffff; /* White */
}

/*== Global Resets ==*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/*== Global Styles ==*/

body {
  color: var(--primary-color);
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Header & Footer Styles */

header {
  margin: 1rem auto;
}

header, footer {
	flex-shrink: 0;
}

header ul, header ol {
  list-style: none;
  padding: 0;
}

#menu-icon {
	display: none;
}

li.menu-item {
  position: relative;
  display: inline-block;
  margin: 16px;
}

/*== Layout Styles ==*/

.wrapper {
  width: 65%;
  margin: 2rem auto 0;
  flex-grow: 1;
}

main, article {
  line-height: 1.75;
}

/* List Layout Styles */

img.thumbnail {
	min-width: 300px;
	height: auto;
	max-height: 225px;
}

#list-content .list-item {
	display: flex;
	margin-bottom: 4rem;
}

.list-item-info {
	padding-left: 2rem;
}

.list-item-info h2,
.list-item-info p {
	margin: 0 0 0.5rem 0;
}

/*== Media Queries ==*/

@media screen and (max-width: 650px) {

	/* Header */

	header {
		justify-content: space-between;
		padding: 0 1rem;
	}

	#header-title {
		width: 50%;
	}

	/* Mobile Menu */

	a#menu-icon {
		display: block;
		float: right;
		width: 1.5rem;
		padding-top: 1.5rem;
		border: none;
	}

	.main-menu {
		display: none;
	}

	li.menu-item {
		display: block;
	}

	.main-menu.show {
		display: block;
		position: absolute;
		top: 138px;
		height: 50vh;
		margin-top: 0;
		left: 0;
		width: 100vw;
		background-color: var(--primary-color);
	}

	/* Page & Post */

	.wrapper {
	  width: 100%;
		padding: 0 1rem;
	}

}
