/*== CSS Variables ==*/

:root {
	--color-1: #566270; /* Slate Gray */
  --color-2: #FFFFF3; /* Off-white */
	--color-3: #E0E3DA; /* Gray-ish */
	--color-4: #A593E0; /* Purple */
}


/*== Global Resets ==*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


/*== Global Styles ==*/

body {
  color: var(--color-1);
	background-color: var(--color-2);
  font-family: helvetica, arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3 {
	color: var(--color-4);
	font-family: 'Leckerli One', cursive;
	text-shadow: 1px 2px #551A8B;
	margin: 1rem 0;
}

h1 {
	font-size: 3rem;
}

a {
	color: var(--color-4);
	text-decoration: none;
}

a:hover {
	border-bottom: 3px solid #551A8B;
  padding-bottom: 1px;
  transition: 0.2s ease;
}

hr {
	border: 1px solid var(--color-3);
	width: 70%;
}

/* Header & Footer */

header {
  margin: 1rem auto;
	text-align: center;
}

header, footer {
	flex-shrink: 0;
}

header ul, header ol {
  list-style: none;
  padding: 0;
}

#menu-icon {
	display: none;
}

li.menu-item {
  position: relative;
  display: inline-block;
  margin: 16px;
}


/*== Layout Styles ==*/

.wrapper {
  width: 65%;
  margin: 2rem auto 0;
  flex-grow: 1;
}

main, article {
  line-height: 1.75;
}

/* List Layout */

img.thumbnail {
	min-width: 300px;
	height: auto;
	max-height: 225px;
}

.list-item {
	display: flex;
	margin-bottom: 4rem;
}

.list-item-info {
	padding: 0 0 0 2rem;
}

.list-item-info h2,
.list-item-info p {
	margin: 0 0 0.5rem 0;
}

/* Post Layout */

img.full {
	width: 100%;
	max-height: 400px;
	object-fit: cover;
}


/*== Media Queries ==*/

@media screen and (max-width: 900px) {

	/* Global */

	hr {
		width: 90%;
	}

	/* List Layout */

	img.thumbnail {
		width: 100%;
		object-fit: cover;
	}

	.list-item {
		flex-direction: column;
	}

	.list-item-info {
		padding: 1rem 0 0 0;
	}

}

@media screen and (max-width: 650px) {

	/* Header */

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
		margin: 0;
		text-align: left;
		position: relative;
	}

	/* Mobile Menu */

	a#menu-icon {
		display: block;
		width: 1.5rem;
		border: none;
	}

	.main-menu {
		display: none;
	}

	li.menu-item {
		display: block;
	}

	.main-menu.show {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vw;
		margin: 0;
		background-color: var(--color-1);
		opacity: 0.95;
	}

	/* Page & Post */

	.wrapper {
	  width: 100%;
		padding: 0 2rem;
	}

}
