/*== CSS Variables ==*/

:root {
	--color-1: #52616A; /* Slate Gray */
  --color-2: #F0F5F9; /* Off-white */
	--color-3: #C9D6DE; /* Light Gray */
	--color-4: #1E2022; /* Nearly Black */
}


/*== Global Resets ==*/

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


/*== Global Styles ==*/

body {
  color: var(--color-1);
	background-color: var(--color-2);
  font-family: 'EB Garamond', serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2, h3 {
	color: var(--color-4);
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	margin: 1rem 0;
}

h1 {
	font-size: 3rem;
}

a {
	color: var(--color-4);
	text-decoration: none;
}

a:hover {
	border-bottom: 3px solid var(--color-4);
  padding-bottom: 1px;
  transition: 0.2s ease;
}

hr {
	border: 1px solid var(--color-3);
	width: 100%;
}

/* Header & Footer */

header {
	display: flex;
	justify-content: center;
	height: 200px;
	background: url('/images/header-bg.jpg') no-repeat center/cover;
}

h1#header-title {
	margin-right: 2rem;
}

header, footer {
	flex-shrink: 0;
}

header ul, header ol {
  list-style: none;
  padding: 0;
}

#menu-icon {
	display: none;
}

li.menu-item {
  position: relative;
  display: inline-block;
  margin: 16px;
}

/* Contact Form */

label, input, textarea {
	display: block;
	font-family: 'EB Garamond', serif;
	font-size: 1.25rem;
	font-weight: bold;
}

input, textarea {
	color: var(--color-4);
	background-color: var(--color-3);
	border: 1px solid var(--color-1);
	border-radius: 4px;
	padding: 0.75rem;
	width: 50%;
}

input[type="submit"] {
	color: var(--color-2);
	background-color: var(--color-4);
	margin-top: 2rem;
	width: auto;
}

input[type="submit"]:hover {
	background-color: var(--color-1);
}


/*== Layout Styles ==*/

.wrapper {
  width: 65%;
  margin: 2rem auto 0;
  flex-grow: 1;
}

main, article {
  line-height: 1.75;
}

/* List Layout */

.list-item {
	position: relative;
	margin-bottom: 4rem;
}

/* Post Layout */

#blog-content {
	position: relative;
}

img.full {
	width: calc(100% - 2.5rem);
	max-width: 1208px;
	max-height: 400px;
	margin-left: 2.5rem;
	object-fit: cover;
}

h1.title {
	margin-left: 2.5rem;
}

h1.title > a:hover,
h1#header-title > a:hover {
	border-bottom: none;
}

p.byline {
	font-size: 1.25rem;
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: -1rem -1rem;
}


/*== Media Queries ==*/

@media screen and (max-width: 865px) {

	/* Header */

	header {
		flex-direction: row-reverse;
		justify-content: space-between;
		padding: 0 2rem;
		margin: 0;
		text-align: left;
		position: relative;
	}

	/* Mobile Menu */

	a#menu-icon {
		display: block;
		width: 1.5rem;
		margin-top: 1.75rem;
		border: none;
	}

	.main-menu {
		display: none;
	}

	li.menu-item {
		display: block;
	}

	.main-menu.show a {
		color: var(--color-2);
	}

	.main-menu.show a:hover {
		border-bottom: 3px solid var(--color-2);
	  padding-bottom: 1px;
	  transition: 0.2s ease;
	}

	.main-menu.show {
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100vw;
		margin: 0;
		background-color: var(--color-4);
		opacity: 0.95;
		z-index: 1000;
	}

}

@media screen and (max-width: 650px) {

	/* Global */

	h1 {
		font-size: 2rem;
	}

	/* Page & Post */

	.wrapper {
	  width: 100%;
		padding: 0 2rem;
	}

	img.full {
		width: calc(100% - 1.5rem);
		max-height: 153px;
		margin-left: 1.5rem;
	}

	h1.title {
		margin-left: 1.5rem;
	}

	/* List Layout */

	p.byline {
		font-size: 0.75rem;
		transform-origin: -0.7rem -0.7rem;
	}

	/* Contact Form */

	input, textarea {
		width: 100%;
	}

}
