<footer>
  <div class="wrapper">
    <p>© Loving Impulse <span id="date">DATE</span> | <a href="/sitemap">Sitemap</a></p>
  </div>
</footer>

<!-- Scripts -->
<script>
  // Toggle mobile menu dropdown
  var menuIcon = document.querySelector('#menu-icon');
  var mainMenu = document.querySelector('.main-menu');

  menuIcon.addEventListener('click', function(event) {
    mainMenu.classList.toggle('show');
  }, false);

  // Update copyright year in footer
  var dateEl = document.querySelector('#date');
  var date = new Date();
  var currentYear = date.getFullYear();

  dateEl.innerText = currentYear;
</script>

<!-- lazysizes (replace with Vanilla JS option > https://bit.ly/2SAZVnb) -->
<script src="https://cdn.jsdelivr.net/npm/lazysizes@5.1.0/lazysizes.min.js" charset="utf-8"></script>

<!-- Netlify Identify Widget -->
{% if title == 'Home' %}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function(user) {
      if (!user) {
        window.netlifyIdentity.on("login", function() {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{% endif %}
